CardInformationSync/WindowsFormsApplication1/Service References/UpdateCard/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.njxt.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.njxt.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.njxt.net/">
      <s:element name="UpdateCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldcard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newcard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCardResult" type="tns:OperationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OperationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" />
        </s:sequence>
      </s:complexType>
      <s:element name="OperationResult" nillable="true" type="tns:OperationResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateCardSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCard" />
  </wsdl:message>
  <wsdl:message name="UpdateCardSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCardResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCardHttpGetIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="oldcard" type="s:string" />
    <wsdl:part name="newcard" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateCardHttpGetOut">
    <wsdl:part name="Body" element="tns:OperationResult" />
  </wsdl:message>
  <wsdl:message name="UpdateCardHttpPostIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="oldcard" type="s:string" />
    <wsdl:part name="newcard" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateCardHttpPostOut">
    <wsdl:part name="Body" element="tns:OperationResult" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="UpdateCard">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;补卡更新接口&lt;/b&gt;&lt;br&gt;&lt;b&gt;参数&lt;/b&gt;&lt;br&gt;password:接口验证密码&lt;br&gt;oldcard:旧学生卡卡号(十进制)&lt;br&gt;newcard:新学生卡卡号(十进制)&lt;br&gt;&lt;b&gt;返回&lt;/b&gt;&lt;br&gt;State:操作状态，1:成功，其他:失败&lt;br&gt;Data:操作消息&lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:UpdateCardSoapIn" />
      <wsdl:output message="tns:UpdateCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="UpdateCard">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;补卡更新接口&lt;/b&gt;&lt;br&gt;&lt;b&gt;参数&lt;/b&gt;&lt;br&gt;password:接口验证密码&lt;br&gt;oldcard:旧学生卡卡号(十进制)&lt;br&gt;newcard:新学生卡卡号(十进制)&lt;br&gt;&lt;b&gt;返回&lt;/b&gt;&lt;br&gt;State:操作状态，1:成功，其他:失败&lt;br&gt;Data:操作消息&lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:UpdateCardHttpGetIn" />
      <wsdl:output message="tns:UpdateCardHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="UpdateCard">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;补卡更新接口&lt;/b&gt;&lt;br&gt;&lt;b&gt;参数&lt;/b&gt;&lt;br&gt;password:接口验证密码&lt;br&gt;oldcard:旧学生卡卡号(十进制)&lt;br&gt;newcard:新学生卡卡号(十进制)&lt;br&gt;&lt;b&gt;返回&lt;/b&gt;&lt;br&gt;State:操作状态，1:成功，其他:失败&lt;br&gt;Data:操作消息&lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:UpdateCardHttpPostIn" />
      <wsdl:output message="tns:UpdateCardHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCard">
      <soap:operation soapAction="http://www.njxt.net/UpdateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCard">
      <soap12:operation soapAction="http://www.njxt.net/UpdateCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UpdateCard">
      <http:operation location="/UpdateCard" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UpdateCard">
      <http:operation location="/UpdateCard" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://60.190.202.39:8101/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://60.190.202.39:8101/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://60.190.202.39:8101/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://60.190.202.39:8101/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>